<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v3.1" />
	</startup>
	<appSettings>
		<add key="ChannelPort" value="http://localhost:5004"/>
		<add key="AppContext" value="System.Net.Http.SocketsHttpHandler.Http2UnencryptedSupport"/>
	</appSettings>
</configuration>